// @import "compass/css3/transform";

@import './variables.scss';

body {
    color: $color-base;
    background-color: $back-base;
}

p {
    position: absolute;
    top: 50%;
    right: 50%;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
}

